# Port number
PORT=3000

# Frontend URL
# You can add multiple URLs separated by commas with no spaces
FRONTEND_URL=http://localhost:3000

# MongoDB URL
DATABASE_URL="mongodb+srv://{atlasServerAddress}/fastydb?retryWrites=true&w=majority&appName=FastyDB"

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
